<%- include ("partials/header.ejs") %>
<body>
    <div class="post-container">
        <h1>Welcome! Create your first post</h1> 
        <ul id="postsList">
            <% posts.forEach(post => { %>
            <li>
                <h2 class="post-title">
                    <%= post.title %>
                </h2>
                <small>
                    <%= new Date(post.created_at).toLocaleString() %> 
                </small>
                <p>
                    <%= post.content %>
                </p>
                <small>By: <%= post.author %></small>
                <a class="edit-post" href="/edit/<%= post.id %>">Edit</a>
                
                <button class="delete-post" onclick="deletePost('<%= post.id %>')">Delete</button>
            </li>
            <hr>
            <% }); %>
        </ul>
    </div>

</body>
<%- include ("partials/footer.ejs") %>
